<%= simple_form_for @project, html: {class: 'form-vertical'} do |f| %>
  <fieldset>
    <legend><%= t '.edit' %></legend>
    <%= render 'form_fields', f: f %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, t('.save'), class: 'btn btn-success' %>
    <%= t 'texts.or' %>
    <%= link_to t('.back_to_project'), project_path(@project) %>
  </div>
<% end %>
