<h1><%= t '.projects' %></h1>

<p><%= link_to t('.create_new'), new_project_path, class: 'btn btn-mini btn-success' %></p>

<% if @projects.any? %>
  <table class="table projects">
    <thead>
      <tr>
        <th><%= t '.project' %></th>
        <th><%= t '.suggestions' %></th>
        <th><%= t '.actions' %></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td>
            <%= link_to project.display_name.humanize, project %>
          </td>
          <td>
            <%= project.suggestions.size %>
          </td>
          <td class="actions">
            <%= link_to t('.edit'), edit_project_path(project) %>
            <%= link_to t('.results'), project_results_path(project) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t '.no_projects' %></p>
<% end %>
