<h2>
  <%= @project.display_name.humanize %>

  <% if @project.owned_by? current_user %>
    <small>
      <%= link_to t('.edit'), edit_project_path(@project) %>
      <%= link_to t('.results'), project_results_path(@project) %>
    </small>
  <% end %>
</h2>

<%= render 'description' %>
<%= render 'suggestions_with_voting' %>
