<h2>
  <%= @project.display_name.humanize %>

  <% if @project.owned_by? current_user %>
    <small>
      <%= link_to '(edit)', edit_project_path(@project) %>
    </small>
  <% end %>
</h2>

<% if @project.description.present? %>
  <blockquote>
    <%= simple_format @project.description %>
  </blockquote>
<% end %>

<h4>Current name suggestions</h4>

<% if @project.suggestions.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @project.suggestions.in_alphabetical_order.each do |suggestion| %>
        <tr>
          <td><%= suggestion.name %></td>
          <td>
            <%= render 'suggestions/delete_button', suggestion: suggestion %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    No name suggestions yet.
    <%= link_to 'Add your own!', new_project_suggestion_path(@project) %>
  </p>
<% end %>

<p>
  <%= link_to 'Suggest a new name', new_project_suggestion_path(@project), class: 'btn btn-small btn-success' %>
</p>
