<h2>
  <%= render 'project_navigation' if @project.owned_by? current_user %>
  <%= @project.display_name.humanize %>
</h2>

<%= render 'description' %>

<% if @project.completed? %>
  <%= render 'ranked_suggestions' %>
<% else %>
  <%= render 'suggestions_with_voting' %>
<% end %>
