<h2>
  Naming Project <%= truncate @naming_project.key, length: 10 %>
  <small><%= link_to '(edit)', edit_naming_project_path(@naming_project) %></small>
</h2>

<% if @naming_project.description.present? %>
  <blockquote>
    <%= simple_format @naming_project.description %>
  </blockquote>
<% end %>

<h4>Current name suggestions</h4>

<% if @naming_project.suggestions.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @naming_project.suggestions.in_alphabetical_order.each do |suggestion| %>
        <tr>
          <td><%= suggestion.name %></td>
          <td>
            <% if suggestion.destroyable? %>
              <%= simple_form_for [@naming_project, suggestion], method: :delete, html: {class: 'form-inline'} do |f| %>
                <%= f.button :submit, 'Delete', class: 'btn btn-mini btn-danger' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    No name suggestions yet.
    <%= link_to 'Add your own!', new_naming_project_suggestion_path(@naming_project) %>
  </p>
<% end %>

<p>
  <%= link_to 'Suggest a new name', new_naming_project_suggestion_path(@naming_project), class: 'btn btn-small btn-success' %>
</p>
