<h1><%= t '.suggestions' %></h1>

<% if @suggestions.any? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= t '.project' %></th>
        <th><%= t '.suggestion' %></th>
        <th><%= t '.actions' %></th>
      </tr>
    </thead>
    <tbody>
      <% @suggestions.each do |suggestion| %>
        <tr>
          <td><%= link_to suggestion.project.display_name.humanize, suggestion.project %></td>
          <td><%= link_to suggestion.name, suggestion.project %></td>
          <td><%= render 'suggestions/delete_button', suggestion: suggestion %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t '.no_suggestions' %></p>
<% end %>
